* {
font-family: 'meiryo', 'メイリオ', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', sans-serif !important;
letter-spacing: -.1em;
font-weight: bold;
}
.dnward {text-align: center;}
.dnward a {
 text-decoration: none;display: inline-block;color: #fff;height: 0;
 padding: .1em .5em;
 box-shadow: 0 -3px 0 rgba(68,68,68,1); border-top: 2em solid #909090;
 border-left: .5em solid transparent;border-right: .5em solid transparent;
}
.sdward {
 margin:auto .5em!important; padding: .1em 0!important;
 border-left: 0 solid transparent!important;border-right: 0 solid transparent!important;
}
.dnward span {position: relative; top:-1.75em;}
.dnw2 a { font-size: 1.2em; margin-bottom: .4em;}
.upward a {
 text-decoration: none;display: inline-block;color: #fff;height: 0;
 line-height: 2em;
 box-shadow: 0 3px 0 rgba(68,68,68,1);border-bottom: 2em solid #909090;
 border-left: .5em solid transparent;border-right: .5em solid transparent;
 font-size: 2em;margin: .5em -1em;padding: .1em .5em;
}
.btn a,.ka {white-space:nowrap;text-decoration:none;color:#fff;background-color:#999;padding:.1rem .4rem;}
.btn a {border-radius:.4rem;}
.ka {border-radius:1rem!important;margin-left:-.5em!important;margin-right:1em!important;}
@media (min-width:500px) {
#d {
background-color:#eee;
width:96%;
margin:0 2%;
}
.dnward a {
 font-size: 2em;
 margin: .5em -.2em;
}
.dnward span {letter-spacing: .1em;}
.upw2 a {font-size: 1.5em;}
.btn a {font-size:2em;letter-spacing:.1em}
.dnxem{margin-bottom: 1.2em;}
.flrx {font-size: 2em;}
.lh25 {line-height: 3.5em ;}
.lsp01 {letter-spacing: .1em;}
.lsp03 {letter-spacing: .3em;}
}
@media (max-width:499px) {/*mob*/
#d {
background-color:#eee;
width:100%;
}
.dnward a {
font-size: 1em;
margin: 0em -.3em ;line-height: 0;
}
.dnward span {
position: relative; top:-1.2em;
letter-spacing:initial;
}
.dnw2 a {margin-bottom: 0em;}
.upw2 a {font-size: 1em;}/*.upward a:hover {margin: auto 0;}*/
.dnxem{margin-bottom: .8em;}
.flrx {font-size: normal;}
.lh25 {line-height: 2.5em ;}
.lsp01 {letter-spacing: initial;}/*use more!*/
.lsp03 {letter-spacing: .1em;}
}

#d {
animation: trs .05s ease-out 0s 8 normal;
-webkit-animation: trs .04s linear 0s 8 normal;
}
@keyframes trs {0% {transform:translate(0,10%);}
 25% {transform:translate(0,-10%);}
 50% {transform:translate(0,10%);}
 75% {transform:translate(0,-10%);;}
 100% {transform:translate(0,0);}}
@-webkit-keyframes trs {0% {-webkit-transform:translate(0,10%);}
 25% {-webkit-transform:translate(0,-10%);}
 50% {-webkit-transform:translate(0,10%);}
 75% {-webkit-transform:translate(0,-10%);}
 100% {-webkit-transform:translate(0,0);}}

.title {border-top:1px solid #444;border-bottom:1px solid #444;margin-top:3em;}
.c0 {color:#666;}
.c1 {color:#444;text-decoration: none;}
.c1 a {color:#444;font-weight: normal;}
.ipt{border:none;background-color:#eee;}
.sbt{background-color:#999;color:#fff;border:none;height:1.8em;text-align:center;}
.sbt:hover{background-color:#444;color:#fff;}
.algnL {text-align: left;}.algnR {text-align: right;}.algnC {text-align: center;}.xbd {font-weight: normal;}.fsr {font-size: smaller;}.flr {font-size: larger;}.flrrr {font-size: 2em;}
.mgnL1 {margin-left: 1em;}
.lh0 {line-height: 1em ;}
.lh0 a {word-wrap: break-word;}
.blk2 div{display:inline-block;width: 45%;}
/*.mobile !important*/
.up1em{margin-top: 1em;}.up15em{margin-top: 1.5em;}.up-1em{margin-top: -1em;}.up0em{margin-top: 0;}.dn1em{margin-bottom: 1em;}.dn2em{margin-bottom: 2em;}.dn05em{margin-bottom: .5em;}.dn-1em{margin-bottom: -1em;}.rt2em{margin-right: 2rem;}
.flL{float:left;}

#social{margin: 20px 10px;text-align: center;}
.socialCss{display: inline-block;position: relative;cursor: pointer;width: 50px;height: 50px;box-shadow: 0 1px 1px #999;padding: 0px;text-decoration: none !important;text-align: center;color: #fff !important;font-size: 25px;font-weight: normal;line-height: 2em;border-radius: 25px;-moz-border-radius:25px;-webkit-border-radius:25px;}.fa {font-family: 'FontAwesome'; !important;}.hateBtn {background-color: #006fbb;}.hateBtn:before {content: 'B!';font-family: Verdana;font-weight: bold;}.hateBtn:hover{color: #006fbb;background: #fff;}.lineBtn {background-color: #2cbf13;}.lineBtn:before {content: 'LINE';font-family: Verdana;font-weight: bold;font-size: 1.2rem;}.lineBtn:hover{color: #2cbf13;background: #fff;}.facebookBtn{background: #4060A5;}.facebookBtn:before{content: '\f09a';}.facebookBtn:hover{color: #4060A5;background: #fff;}.twitterBtn{background: #00ABE3;}.twitterBtn:before{content: '\f099';}.twitterBtn:hover{color: #00ABE3;background: #fff;}.googleplusBtn{background: #e64522;}.googleplusBtn:before{content: '\f0d5';}.googleplusBtn:hover{color: #e64522;background: #fff;}.linkedinBtn{background: #0094BC;}.linkedinBtn:before{content: '\f0e1';}.linkedinBtn:hover{color: #0094BC;background: #fff;}.pinterestBtn{background: #cb2027;}.pinterestBtn:before{content: '\f0d2';}.pinterestBtn:hover{color: #cb2027;background: #fff;}.feedlyBtn{background: #6cc655;}.feedlyBtn:before{content: 'feedly';font-family: Verdana;font-weight: bold;font-size: 1rem;}.feedlyBtn:hover{color: #6cc665;background: #fff;}.rssBtn{background: #e88845;}.rssBtn:before{content: '\f09e';}.rssBtn:hover{color: #e88845;background: #fff;}.amazonBtn{background: #ff9900;}.amazonBtn:before{content: '\f270';}.amazonBtn:hover{color: #ff9900;background: #fff;}.searchBtn{background: #999;}.searchBtn:before{content: '\f002';}.searchBtn:hover{color: #999;background: #fff;}
