* {
font-family: 'meiryo', 'メイリオ', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', sans-serif !important;
letter-spacing: -.1em;
font-weight: bold;
}
.dnward {text-align: center;}
.dnward a {
 text-decoration: none;
 color: #fff;
 display: inline-block;
 height: 0;
 padding: .1em .5em;
 box-shadow: 0 -3px 0 rgba(68,68,68,1);
 border-top: 2em solid #909090;
 border-left: .5em solid transparent;
 border-right: .5em solid transparent;
}
.dnward span {position: relative; top:-1.75em;}
.dnw2 a {
 font-size: 1.2em;
 margin-bottom: .4em;
}
@media (min-width:500px) {
.dnward a {
 font-size: 2em;
 margin: .5em -.2em;
}
.dnward span {letter-spacing: .1em;}
}
@media (max-width:499px) {/*mob*/
.dnward a {
font-size: 1em;
margin: 0em -.3em ;line-height: 0;
}
.dnward span {
position: relative; top:-1.2em;
letter-spacing: initial;
}
.dnw2 a{margin-bottom: 0em;}
}
.dnward p {margin: -.5em auto -.2em;}
.dnward div {margin-bottom: -1em!important;}

.pdnw {text-align: center; margin: 3em auto -1.5em;}
.pdnw a {
 text-decoration: none;
 color: #444;
 border-left: 1px solid #444;
 border-bottom: 1px solid #444;
 border-right: 1px solid #444;
 display: inline-block;
 line-height: 1.7em;
 font-size: 1.5em;
 margin: auto .7em auto .5em; 
 padding: 0em .5em;
}
.dnward strong, .pdnw strong, .bigf {font-size: 2.5em;}

.btn a {color:#fff;background-color:#999;border-radius:.4rem; padding:.1rem .4rem;}

/*
.lh05 {line-height: 2.5em !important;}
.btnR {color: #fff !important;background-color: #999;border-radius: 1.5rem;padding-right: .4rem;}
.lsp01 {letter-spacing: .1em !important;}
.lsp03 {letter-spacing: .3em !important;}
/*.mobile .lsp03 {letter-spacing: .1em !important;}*/




