* {
font-family: 'meiryo', 'メイリオ', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', sans-serif !important;
letter-spacing: -.1em;
font-weight: bold;
}
.dnward {text-align: center;}
.dnward a {
 text-decoration: none;
 color: #fff;
 display: inline-block;
 height: 0;
 padding: .1em .5em;
 box-shadow: 0 -3px 0 rgba(68,68,68,1);
 border-top: 2em solid #909090;
 border-left: .5em solid transparent;
 border-right: .5em solid transparent;
}
.dnward span {position: relative; top:-1.75em;}
.dnw2 a {
 font-size: 1.2em;
 margin-bottom: .4em;
}
.upward a {
 text-decoration: none;display: inline-block;color: #ffffff;/*background-color: transparent;*/height: 0;line-height: 2em;box-shadow: 0 3px 0 rgba(68,68,68,1);border-bottom: 2em solid #909090;border-left: 1.5em solid transparent;border-right: 1.5em solid transparent;font-size: 2em;margin: .5em -1em;padding: .1em .5em;
}
.btn a {white-space:nowrap;text-decoration: none;color:#fff;background-color:#999;border-radius:.4rem; padding:.1rem .4rem;}
@media (min-width:500px) {
#c {
background-color:#eee;
width:96%;
margin:15% auto 4em;
}
.dnward a {
 font-size: 2em;
 margin: .5em -.2em;
}
.dnward span {letter-spacing: .1em;}
.upw2 a {font-size: 1.2em;}
}
@media (max-width:499px) {/*mob*/
#c {
background-color:#eee;
width:100%;
margin:25% auto 3em;
}
.dnward a {
font-size: 1em;
margin: 0em -.3em ;line-height: 0;
}
.dnward span {
position: relative; top:-1.2em;
letter-spacing: initial;
}
.dnw2 a {margin-bottom: 0em;}
.upw2 a {font-size: .8em;}/*.upward a:hover {margin: auto 0;}*/
}
.dnward p {margin: -.5em auto -.2em;}
.dnward div {margin-bottom: -1em!important;}

.pdnw {text-align: center; margin: 3em auto -1.5em;}
.pdnw a {
 text-decoration: none;
 color: #444;
 border-left: 1px solid #444;
 border-bottom: 1px solid #444;
 border-right: 1px solid #444;
 display: inline-block;
 line-height: 1.7em;
 font-size: 1.5em;
 margin: auto .7em auto .5em; 
 padding: 0em .5em;
}
/*
.dnward strong, .pdnw strong, .bigf {font-size: 2.5em;}
*/
.sbt{
background-color:#999;
color:#fff;
border:none;
height:1.5em;
text-align:center;
}
.sbt:hover{
background-color:#444 !important;
color:#fff;
}
.title {border-top:1px solid #444;border-bottom:1px solid #444;margin-top:3em;}
.color1 {color:#0ff;text-decoration: none;}
.algnL {text-align: left;}.algnR {text-align: right;}.algnC {text-align: center;}.xbd {font-weight: normal;}.fsr {font-size: smaller;}.flr {font-size: larger;}.flra {font-size: larger; font-weight: normal; letter-spacing: .1em;}.flrr {font-size: 1.5em;}.flrrr {font-size: 2em;}.lsp01 {letter-spacing: .1em !important;}
.mobile .lsp01 {letter-spacing: initial;}/*use more!*/.lsp03 {letter-spacing: .3em !important;}
.mobile .lsp03 {letter-spacing: .1em !important;}.lh05 {line-height: 2.5em !important;}.mgnL1 {margin-left: 1em;}.mgnL05 {margin-left: .5em;}.padb00 {padding-bottom: 0 !important;}
.bdnon{border:none;}
/*.mobile .padb00 .mgnL05 !important*/
.up2em{margin-top: 12em;}
.up1em{margin-top: 1em;}.up-1em{margin-top: -1em;}.up0em{margin-top: 0;}.dn1em{margin-bottom: 1em;}.dn-1em{margin-bottom: -1em;}.dn0em{margin-bottom: 0em;}
